{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

{{ attach_library('social_lms_integrator_iteration/iteration-list') }}

<div class="social-moodle-iteration">

  {% if show_edit_link == true %}
    {{ edit_link }}
  {% endif %}

  <div class="social-moodle-iteration-headline">
    <h3>{{ label }}</h3>
  </div>   

  <div class="social-moodle-iteration-content">  
    <p class="social-moodle-iteration-description">
      {{ content.field_iteration_description }}
    </p>        
  
    {% set start = content.field_iteration_date.0|render|striptags|trim %}
    {% set end = content.field_iteration_date_end.0|render|striptags|trim %}  
    
    {% if all_day == true %}
      {% set dateformat = 'd.m.Y' %}
    {% else %}
      {% set dateformat = 'd.m.Y i:s' %}
    {% endif %}   
   
    {% if show_date == true %}
      <div class="social-moodle-iteration-content-line">
        {{ start|date(dateformat) }} - {{ end|date(dateformat) }}
      </div>        
    {% endif %}   

  <div class="social-moodle-iteration-buttons">
    {% if show_default_enrollment == true %}
      {{ enrollment_form }}
    {% else %}
      {{ iteration_form }}
    {% endif %}    
  </div>

</div>
