{#

Description text for the Social LMS Integrator Enrollment Method.

#}

{% trans %}

<p>The Social LMS Integrator Enrollment Method module defines a Iteration Enrollment Method entity type. This is a list
  of the Iteration Enrollment Method entities currently in your Drupal site.</p><p>By default, when
  you enable this module, five iteration enrollment method entities are created from configuration. 

{% endtrans %}
