.social_lms_integrator_enrollment-popup form {
  padding-bottom: 1.5rem;
}
.social_lms_integrator_enrollment-popup form > *:not(.btn),
.social_lms_integrator_enrollment-popup form label {
  font-size: 0.875rem;
  line-height: 21px;
}
.social_lms_integrator_enrollment-popup form > p {
  margin-bottom: 1.5rem;
}
.social_lms_integrator_enrollment-popup form:not(.layout-builder-configure-block) .form-control--autogrow {
  min-height: 195px;
}
.social_lms_integrator_enrollment-popup form button.btn {
  float: right;
  min-width: 175px;
  font-size: 1rem;
}
.social_lms_integrator_enrollment-popup--anonymous form {
  padding-bottom: 0;
}
.social_lms_integrator_enrollment-popup--anonymous form > p,
.social_lms_integrator_enrollment-popup--anonymous form .form-actions,
.social_lms_integrator_enrollment-popup--anonymous form .form-actions * {
  margin-bottom: 0;
}
.social_lms_integrator_enrollment-popup--anonymous .ui-dialog-buttonset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 30px;
  text-align: center;
}
.social_lms_integrator_enrollment-popup--anonymous .ui-dialog-buttonset .btn {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin-right: 10px;
}
.social_lms_integrator_enrollment-popup--anonymous .ui-dialog-buttonset .btn + .btn {
  margin-left: 10px;
}
.social_lms_integrator_enrollment-popup--anonymous .ui-dialog-buttonset .btn:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=social_event_popup.css.map */
